DEBUG=1
SECRET_KEY=dev-secret
ALLOWED_HOSTS=localhost,127.0.0.1


POSTGRES_DB=hackathon
POSTGRES_USER=user
POSTGRES_PASSWORD=pass123


DB_NAME=hackathon
DB_USER=user
DB_PASSWORD=pass123
DB_HOST=db
DB_PORT=5432