<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Завозик</title>
    <meta http-equiv="refresh" content="0; url=no_registereusr/no_registeredusr.html">
    <script>
        window.location.replace("no_registereusr/no_registeredusr.html");
    </script>
</head>
<body>
    <p>Переход на главную страницу...</p>
    <p><a href="no_registereusr/no_registeredusr.html">Если не перенаправило, нажмите сюда</a>.</p>
</body>
</html>
